<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <style type="text/css">
    .space {
    padding: 20px;
    background: #e5e5e5;
    border: 2px solid #E81E25;
    }
    </style>
</head>
<body>
        <div class="create_container">
            <form action="{% url 'add-book' %}" method="POST">
                <input class="create_input" type="text" placeholder="Заголовок" name="book_text"/><br><br>
                <input class="create_input" type="text" placeholder="Подзаголовок" name="book.subtitle"/><br><br>
                <input class="create_input" type="text" placeholder="Описание" name="book.description"/><br><br>
                <input class="create_input" type="text" placeholder="Стоимость" name="book.price"/><br><br>
                <input class="create_input" type="text" placeholder="Жанр" name="book.genre"/><br><br>
                <input class="create_input" type="text" placeholder="Автор" name="book.authot"/><br><br>
                <input class="create_input" type="text" placeholder="Год выпуска" name="book.year"/><br><br>
                <input class="create_input" type="text" placeholder="Добавление книги на сайт" name="book.created_at"/><br><br>
                <button id="create_button">Добавить</button>
            </form>
        </div>
 
</body>
</html>